body {
  font-family: verdana;
}

table {
  width:550px;
  margin-top: 20px;
}
table, th, td {

  border: 1px solid purple;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  width: 200px;
  height: 50px;
}

th {
  background: purple;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
